@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', sans-serif;
}

header {
    padding: 1rem 10%;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 70px 10%;
}

main .image {
    flex: 1;
}

main .image img {
    width: 100%;
}

main .info {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 40px;
}

main .info h1 {
    font-size: 48px;
}

main .info p {
    color: #4F4F4F;
    font-size: 18px;
    width: 300px;
}

main .info a {
    text-decoration: none;
    color: white;
    max-width: fit-content;
    background: #333;
    padding: 1.5rem 2rem;
    font-size: 14px;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    main {
        flex-direction: column;
    }
}